// Color definitions for theme
$primary-color: #71c068;
$primary-color-light: #4bd963;

$primary-text-color: #fff;

$secondary-color: #116cb4;
$secondary-color-dark: #0d5085;
$secondary-color-light: #3ea0ed;

$secondary-color-disabled: #808080;
